table,
th,
td {
  border: 0px solid;
  color: greenyellow;
  padding: 0;
  margin: 0;
}

td {
  background-color: green;
}

.Visited {
  background-color: cyan;
}

.path {
  background-color: darkgreen;
}

.snakeHead {
  background-color: #ffd700;
}

.snakeBody {
  background-color: blue;
}

.apple {
  background-color: red;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 50px;
  right: 50px;
}

html {
  margin: 0px;
  height: 100vh;
}

body {
  margin: 0px;
  min-height: 100vh;
}
