table, th, td {
    border: 1px solid;
    color: greenyellow;
}
td {
    background-color: green;
}

.snakeHead {
    background-color: #ffd700;
}

.snakeBody {
    background-color: blue;
}

.apple {
    background-color: red;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 50px;
    right: 50px;
  }